<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!-- here, we are replacing the contents of the head tag from the head in the fragments file -->

<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h1 th:text="${title}">Default Title</h1>
<!--adding a fragment from the fragments file for navigation buttons-->
<nav th:replace="fragments :: navigation"></nav>

<!-- if the action (action="/cheese/new") attribute is not included in the form after the method attribute
the default action is to submit the form to the same url as the current form -->
<form method="post" style="max-width:600px" th:object="${cheeseToEdit}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" th:value="${cheeseToEdit.name}"/>
        <span th:errors="*{name}" class="errors" ></span>
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}" th:value="${cheeseToEdit.description}"/>
        <span th:errors="*{description}" class="errors" ></span>
    </div>
    <div class="form-group" >
        <label th:for="type">Type</label>
        <select th:field="*{type}" >
            <option th:each="cheeseType : ${cheeseTypes}" th:text="${cheeseType.name}" th:value="${cheeseType}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="rating">Rating (1-5)</label><br>

        <input th:field="*{rating}" type="radio" value=1> 1
        <input th:field="*{rating}" type="radio" value=2> 2
        <input th:field="*{rating}" type="radio" value=3> 3
        <input th:field="*{rating}" type="radio" value=4> 4
        <input th:field="*{rating}" type="radio" value=5> 5

        <span th:errors="*{rating}" class="error"></span>
    </div>
    <input type="hidden" th:value="${cheeseToEdit.cheeseId}" name="cheeseId" />
    <input type="submit" value="Edit Cheese" />
</form>

</body>
</html>